@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #edf2f8;
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.7;
  font-size: 13px;
}

.testimonials {
  max-width: 1440px;
  margin: 100px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #996ed9;
  margin-right: 10px;
}

.card-header h3 {
  font-size: 15px;
}
.card-header p {
  opacity: 50%;
}

.card-hero {
  font-weight: 500px;
  line-height: 1.3;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.card-quote {
  font-weight: 500px;
  line-height: 1.4;
  font-size: 15px;
  opacity: 70%;
}

/* styling cards */

.card-bg-purple {
  background-color: hsl(263, 55%, 52%);
  color: #fff;
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
}

.card-bg-grey-blue {
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}

.card-bg-darkblue {
  background-color: hsl(219, 29%, 14%);
  color: #fff;
}

footer {
  font-size: 11px;
  text-align: center;
}

.card:nth-child(1) {
  grid-column: 1 / 3;
}

.card:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 2;
}

.card:nth-of-type(3) {
  grid-column: 4;
  grid-row: 1 / 3;
}
