.container {
  display: grid;
  /* grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px; */
  grid-template: 50px 50px / 50px 50px;
  gap: 10px;
}

.container > div {
  border: 1px solid blue;
}
