* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100vh;
  color: #333;
  background: #f5f5f5;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "nav footer footer";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 80px auto 70px;
}

header,
footer,
main,
aside,
nav {
  background: steelblue;
  color: #f5f5f5;
  padding: 20px;
  border: skyblue 1px solid;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}
